@media (min-width: 576px) {
	.jumbotron {
		background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.1));
		padding-top: 4%;
    	padding-bottom: 3%;
	}
	.jumbotron h1 {
		font-weight: bold;
	}
	.jumbotron h1 a {
		color: #62CA13;
	}
	.jumbotron h2 {
		font-style: italic;
	}
	.badge-success {
		background-color: #62CA13;
	}
}

#content {
	width: 100%;
	margin: auto;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	grid-template-areas: 
	"header"
	"navbar"
	"content"
	"footer";
}

#header {
	grid-area: header;
	padding: 1%;
}

#navbar {
	grid-area: navbar;
	margin-bottom: 20px;
}

.error {
	display: block;
}

.icon-left {
	color: #62CA13;
	padding: 2%;
	margin: 1%;
	float: left;
	width: 100px;
}

.data-right {
	height: 26.5%;
}

.icon-right {
	color: #62CA13;
	padding: 2%;
	margin: 1%;
	float: left;
	width: 100px;
}

#content {
	grid-area: content;
}

#footer {
	grid-area: footer;
}