body {
	font-family: Helvetica, Arial, sans-serif;
}

@font-face{ 
	font-family: 'MyWebFont';
	src: url('WebFont.eot');
	src: url('WebFont.eot?iefix') format('eot'),
	     url('WebFont.woff') format('woff'),
	     url('WebFont.ttf') format('truetype'),
	     url('WebFont.svg#webfont') format('svg');
}

@media (min-width: 576px) {
	.jumbotron {
		background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.1));
		padding-top: 4%;
    	padding-bottom: 3%;
	}
	.jumbotron h1 {
		font-weight: bold;
	}
	.jumbotron h1 a {
		color: #62CA13;
	}
	.jumbotron h2 {
		font-style: italic;
	}
	.badge-success {
		background-color: #62CA13;
	}
}

#content {
	width: 100%;
	margin: auto;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	grid-template-areas: 
	"header"
	"navbar"
	"content"
	"footer";
}

#header {
	grid-area: header;
	padding: 1%;
}

#header img {
	width: 40%;
	height: auto;
}

#navbar {
	grid-area: navbar;
	margin-bottom: 20px;
}

.error {
	display: block;
}

.survey-row img {
	width: 40%;
	height: auto;
}

#content {
	grid-area: content;
}

#footer {
	grid-area: footer;
}

#description:hover > div {
	display: block;
}
