body {
	font-family: Helvetica, Arial, sans-serif;
}

#content {
	width: 100%;
	margin: auto;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	grid-template-areas: 
	"header"
	"navbar"
	"content"
	"footer";
}

#header {
	grid-area: header;
}

#header img {
	width: 50%;
	height: auto;
}

#navbar {
	grid-area: navbar;
	margin-bottom: 20px;
}

#content {
	grid-area: content;
}

.park {
	display: flex;
	flex-direction: row;
	width: 100%;
}

#footer {
	grid-area: footer;
}